.align_right {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.recoverTitle {
    margin-bottom: 3rem;
    text-align: center;
}

.recoverTitleSecondary {
    margin-bottom: 1rem;
}

.loginBox {
    margin-top: 3rem;
    justify-content: center;
}
